<!--1. List all the albums in $albums and print their details-->
<!--2. Add a link, for each album of the list, to its show view-->
<% if $albums.empty? == true %>
<%= " no albums yet bro" %>
<% else %>
<% $albums.each_with_index do |album,index| %>
<p> 
<a href="/<%=index%>"> <%=album%> </a> - 
<a href="/<%=index%>/delete"> delete </a> -
<a href="/<%=index%>/edit"> edit </a>
</p>
<%end %>
<%end %>

<p></p>
<a href="/new">Add an album</a>
